@model ElectronicsStore.Models.ShoppingCart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShoppingCart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

    </dl>
</div>
<table class="table table-bordered table-responsive table-hover">
    @foreach (var item in Model.SCItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Items", new { id = item.Item_id },null)
                @if (!Model.Paid)
                {
                    <a>|</a> @Html.ActionLink("Remove", "Remove", new { item_id = item.Id, shoppingCart_id = Model.Id })
                }
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
    @if (!Model.Paid && Model.Sum > 0)
    {
    <a>|</a> @Html.ActionLink("Pay", "Pay", new { id = Model.Id })
    }

</p>
